/* ---------------------------------------------- ESTILOS GLOBALES */

section {
    margin: 4em 0;
}

h2 {
    margin-bottom: 1em;
}

/* NAV */

.navbar-light {
    box-shadow: $sombraGris;
}

/* IMÁGENES */

@mixin fotos ($max-width) {
    height: auto;
    width: 100%;
    max-width: $max-width;
}

.fotoLogo {
    height: 70px;
}

.fotoLogoRedes {
    height: 40px;
}

.fotoLogoRedesGrande {
    @include fotos(150px);
}

.fotoPalabras {
    @include fotos(1000px);
}

.fotoRedonda {
    @include fotos(600px);
}