/* ---------------------------------------------- PRODUCTOS */
@font-face {
    font-family: "Poppins";
    src: url("'https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'");
  }
.lateral-bg{

    position: absolute;
    height:680%;    
    background: rgba(178, 223, 214, 0.5);
}

.lateral{
list-style: none;
font-family: 'Poppins', sans-serif;;
}

.btn{
    background-color: rgb(255, 255, 255);
    border-color: rgba(178, 223, 214, 0.5);
}
.btn:hover{
    border-color: rgb(245, 114, 53
    );
}
.dropdown-menu{
    border-color: rgba(240, 248, 255, 0);
    background-color: rgba(245, 245, 220, 0);
    padding-left: 50px;
}
.dropdown-menu-vinos{
    padding-left: 70px;
}

/*CARDS*/

