/* ---------------------------------------------- PRODUCTOS */
.lateral-bg{

    position: absolute;
    height:100%;    
    background: rgba(178, 223, 214, 0.5);
}

.lateral{
list-style: none;
}

.btn{
    background-color: rgba(127, 255, 212, 0);
    border-color: rgba(178, 223, 214, 0.5);
}
.btn:hover{
    border-color: rgb(245, 114, 53
    );
}

.card{
background-color: #DDDACE;
}